In [4]:
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression

In [5]:
import pandas as pd

data = load_iris(as_frame=True)
X = data.data
y = data.target
y = y.to_frame()
y["target_name"] = [data.target_names[i] for i in y.target]
y.head()

   target target_name
0       0      setosa
1       0      setosa
2       0      setosa
3       0      setosa
4       0      setosa

In [6]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2